body {
    background-color: gray;  /* Light grey background */
    font-family: Calibri, sans-serif;
    margin: 0;  /* Remove default margin */
    padding: 0;  /* Remove default padding */
}
/* Set up the overall container as a flexbox layout */
#map-container {
    display: flex;
    flex-direction: column; /* Stack map and photo gallery vertically */
    align-items: center;    /* Center align the map and photo gallery */
    height: 70vh;          /* Take full height of the viewport */
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Make the map container occupy 60% of the screen width */
#map {
    width: 90%;  /* Map takes up 60% of the page width */
    margin: 0 auto;  /* Center the map horizontally */
    height: 800px; /* Set a fixed height for the map (adjust as needed) */
    border-radius: 8px; /* Optional: for rounded corners */
}

/* Styling for the photo gallery container */
#photo-container {
    height: 25%; /* Photo gallery takes up 30% of the height */
    width: 100%; /* Full width of the container */
    overflow-y: auto; /* Make the gallery scrollable */
    display: flex;
    flex-wrap: wrap;   /* Allow thumbnails to wrap within the container */
    justify-content: center;
    padding: 10px;
}

/* Style the photo count caption */
.photo-count {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 16px;
}

/* Styling for the photo thumbnails */
#photo-container img {
    width: 200px;
    height: 160px;
    margin: 5px;
    object-fit: cover;
    cursor: pointer;
}

.circular-marker {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;  /* Make the marker circular */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);  /* Optional shadow for effect */
}

.custom-div-icon {
    background: transparent !important; /* Ensure no background interferes */
    border: none !important; /* Remove any borders that might show */
}

.photo-wrapper {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

#photo-container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Add spacing between images */
    justify-content: center;
}
.photo-thumbnail {
    display: block;
    width: 200px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* rounded corners */
}
.photo-caption {
    font-family: 'Calibri', sans-serif;
    margin-top: 8px;
    font-size: 1em;
    color: #333;
    line-height: 1.2em;
    text-align: center;
}